<h1>List of All Users</h1>

<table>
<% @users.each do |user| %>
  <tr>
  	<td><%= user.id %></td>
    <td><%= user.email %></td>
    <% user.courses.each do |course| %>
    <td><%= course.name %>, </td> 
    <% end %>
  </tr>
<% end %>
</table>
