
<h2>General Assembly Instructor Community</h2>

<p>
	The GA online instructory community was created to connect instructors across the globe. We have instructors in many different markets that are teaching the same courses, but they do not get to interract with each other as much as they would like. Sometimes they get on long email threads with each other on topics related to the course they are teaching, so we'd like to avoid that by connecting instructors through this online tool to make them feel more connected and provide them the capability to collaborate more easily.

</p>



<p>Created by: Gracie Elqura 2013 </p>